@import './resets';
@import './variables';

@function weight($weight-name){
	@return map-get($font-weights,$weight-name);
}


@mixin flexCenter($direction){
	flex-direction: $direction;
	display: flex;
	justify-content: center;
	align-items: center;
}

$font-weights:(
	"regular":400,
	"medium":500,
	"bold":700
);
//maps

body{
	background-color: $primary-color; //scss variables
	color:$text-color;
	
}

.main{
@include flexCenter(row);
 width:80%;
 margin :0 auto;
 & .secondary__paragraph{
	color: $accent-color;
 }

 //nesting
 &__paragraph{
	font-weight: weight(bold);

	&:hover{
		color:pink;
	}
 }
}