@import './resets';
@import './variables';



$font-weights:(
	"regular":400,
	"medium":500,
	"bold":700
);
//maps

body{
	background-color: $primary-color; //scss variables
	color:$text-color;
	
}

.main{
 width:80%;
 margin :0 auto;
 & .secondary__paragraph{
	color: $accent-color;
 }

 //nesting
 &__paragraph{
	font-weight: map-get($font-weights,bold);

	&:hover{
		color:pink;
	}
 }
}